/*------------------------------------
* sext
*
* @author linghua.zhang@me.com
* @link http://lhzhang.com/
* @update 2011-12-20
* @update 2013-06-02 zhaohao color bgpics ..
* @update 2014-03-12 webfonts zhaohao
* @update 2024-04-26 something zhaohao hao@zhao.im
* |/ | (~ (~
* |\.|._)._)
* --------------------------------- */

@font-face {
	font-family: 'Galdeano';
	font-style: normal;
	font-weight: 400;
	src: local('Galdeano Regular'), local('Galdeano-Regular'), url("/media/css/Galdeano.woff") format('woff');
}

@font-face {
	font-family: 'Electrolize';
	font-style: normal;
	font-weight: 400;
	src: local('Electrolize'), local('Electrolize-Regular'), url("/media/css/Electrolize.woff") format('woff');
}

@font-face {
	font-family: 'Cuprum';
	font-style: normal;
	font-weight: 400;
	src: local('Cuprum'), local('Cuprum-Regular'), url("/media/css/Cuprum.woff") format('woff');
}

@font-face {
	font-family: 'Codystar';
	font-style: normal;
	font-weight: 400;
	src: local('Codystar'), url("/media/css/Codystar.woff") format('woff');
}


::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 8px;
	height: 8px
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: url("/media/template/zhao-overlay-05.png") repeat;
}


body {
	font-size: 14px;
	word-spacing: 1px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("/media/template/v2-4c8fa67eb50abcc8d69b55196be6b7ed_r.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "Galdeano", "Hiragino Sans GB", "Microsoft YaHei", Trebuchet, "Trebuchet MS", Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
	color: #000000;
	background-color: #FBFCF7;
}




* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
}

a {
	color: #dd0000;
	text-decoration: none;
}

a:hover {
	color: #00a8a8;
	text-decoration: underline;
}

hr {
	border-bottom: 1px solid #cccccc;
}

p {
	padding: .5em 0;
	line-height: 34px;
}

li {
	padding: .2em 0;
}

ol,
ul {
	list-style-position: inside;
}

ol ul,
ul ol,
ul ul,
ol ol {
	margin-left: 1em;
}

blockquote {
	display: block;
	text-align: justify;
	border-left: 4px solid #1E8BAB;
}

blockquote {
	margin: 1em 0em;
	padding-left: 1.5em;
}

blockquote p {
	margin: 0;
	padding: .5em 0;
}

@media only screen and (min-width: 900px) {

	#container {
		width: 600px;
		margin: 2em auto;
		display: block;
		padding: 0 2em;
		background: url("") repeat;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.9);
		border: 5px solid #eee;
		box-shadow: rgba(220, 230, 240, 0.65) 0px 0px 80px 20px;
		margin: 20px auto;
		padding: 20px 50px;
		width: 600px;
		z-index: 1;
	}

	nav {
		font-family: "Electrolize", 'Codystar', Verdana, sans-serif;
		font-size: 1.1em;
		text-transform: uppercase;
		float: left;
		margin-left: -12.3em;
		width: 9em;
		text-align: right;
	}

}

@media only screen and (max-width: 899px) {

	#container {
		display: block;
		background: url("") repeat;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.9);
		border: 5px solid #eee;
		box-shadow: rgba(220, 230, 240, 0.65) 0px 0px 80px 20px;
		margin: 10px auto;
		padding: 10px 20px;
		width: 90%;
		z-index: 1;
	}

	nav {
		font-family: "Electrolize", 'Codystar', Verdana, sans-serif;
		font-size: 1.1em;
		text-transform: uppercase;
		float: inline-end;
		margin-bottom: 2em;
		width: 9em;
		text-align: center;
		background-color: #c4dede;
		border-radius: 15px;
	}

}


.content {
	font-size: 16px;
	line-height: 24px;
}

.content h1 {
	padding: .5em 0;
}

.content img {
	max-width: 100%;
	height: inherit;
	display: block;
	margin: 4px auto;
	-webkit-box-shadow: #999 1px 1px 4px;
	-moz-box-shadow: #999 1px 1px 4px;
	box-shadow: #999 1px 1px 4px;
}

#tag_cloud {
	margin-bottom: 1em;
}

#tag_cloud a:hover {
	color: #333333 !important;
	text-decoration: none;
}

.listing-item,
.listing-seperator {
	list-style-type: none;
}

.listing-item a {
	padding: .2em 1em;
}

.listing-item time {
	color: #00A8A8;
}

.listing-seperator {
	font-weight: bold;
}

.meta {
	text-align: right;
	font-size: 12px;
}

header {
	padding: .5em 0;
	border-bottom: 1px solid #cccccc;
}

nav a {
	display: block;
	padding: .7em 1em;
	color: #000000;
}

nav a:hover {
	background-color: #00a8a8;
	text-decoration: none;
	color: #f9f9f9;
	transition: all .5s linear;
}

.post {
	padding: .5em 0em;
}

h1 {
	font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 1.6em;
	color: #000;
}

h2 {
	font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 1.4em;
	color: #111;
}

h3 {
	font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 1.2em;
	color: #222;
}

h4 {
	font-family: "Cuprum", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
	font-size: 1em;
	color: #333;
}

pre,
code {
	font-family: Menlo, "Andale Mono", Consolas, "Courier New", Monaco, monospace;
	font-size: 13px;
}

pre {
	background-color: #BDE1CD;
	border: 1px solid #A7D2B9;
	font-size: 13px;
	line-height: 19px;
	padding: 6px 10px;
	border-radius: 3px;
	overflow: scroll;
}

p>code {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #A7D2B9;
	background-color: #BDE1CD;
	border-radius: 3px;
}



embed,
object,
iframe {
	display: block;
	margin: 4px auto;
}

.gist {
	font-size: 12px;
	line-height: 1.6;
}

footer {
	display: block;
	border-top: 1px dashed #CCC;
	height: 200px;
	width: 600px;
	background: url("/media/template/zoo.png") left no-repeat;
	background-size: 80%;
}

footer small {
	font-size: 13px;
	color: #999;
}

footer a {
	margin: 1px;
	border: 1px solid rgba(1, 1, 1, 0);
	border-bottom: 1px dashed #BBB;
	color: #B9221F;
	text-decoration: none;
}

footer a:hover {
	color: #3a87ad;
}

.label {
	font-size: 11.25px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background-color: #999;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 3px 2px;
}

.label-important {
	background-color: #b94a48;
}

.label-warning {
	background-color: #f89406;
}

.label-success {
	background-color: #468847;
}

.label-info {
	background-color: #A7D2B9;
}

.paginator {
	font: 14px Arial, Helvetica, sans-serif;
	color: #AAA;
	margin: 20px 0;
	line-height: 150%;
	display: block;
}

.paginator a,
.paginator span {
	padding: 0 4px;
	margin: 2px;
	text-decoration: none;
}

.paginator .current-page {
	color: white;
	background: #D64A38;
}

.paginator a:hover {
	color: white;
	background: #83BF73;
}

.postnavleft,
.postnavright,
.postnavleft a,
.postnavright a {
	font: 14px "Microsoft Yahei", Arial, Helvetica, sans-serif;
	color: #00A8A8;
	line-height: 150%;
}

.postnavleft a:hover {
	color: white;
	background: #D64A38;
}

.postnavright a:hover {
	color: white;
	background: #00A8A8;
}

.player {
	margin-left: 10px;

}
