---
layout: default
---
<div id="qrcode" style="box-shadow: inset #287a7b 0px 0px 11px 11px; float: left; padding: 20px; margin-right:20px; margin-bottom:20px;" ></div>
<section class="post">
{{ content }}
</section>
<section class="meta">
<span class="author">
  <a href="{{ site.url }}">{{ site.author }}</a>
</span>
<span class="time">
  /
  <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date:"%Y-%m-%d" }}</time>
</span>
<br />

{% if page.categories %}
<span class="categories">
  Published in categories
  {% for cat in page.categories %}
  <a href="/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags %}
<span class="tags">
  tagged with 
  {% for tag in page.tags %}
  <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</ br>
<P>
  {% if page.next %}
    <span class="postnavleft">
    <a href="{{ site.url }}{{ page.next.url }}">◄上一篇[←/K]</a>
  {% else %}
    <span class="next disabled">　</span>
    </span>
  {% endif %}
  <span>　</span>
  {% if page.previous %}
    <span class="postnavright">
    <a href="{{ site.url }}{{ page.previous.url }}">[J/→]下一篇►</a>
  {% else %}
    <span class="postnavleft">◢</span>
    </span>
  {% endif %}
</P>
</section>
{% include comments.md %}
<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    var url = false;
        if (e.which == 39 || e.which == 74) {  // Right arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 37 || e.which == 75) {  // Left arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>

<script>
    jQuery(function(){
      
    jQuery('#qrcode').qrcode({
    render: "table",
    width: 100,
    height: 100,
    foreground: "#337778",
    background: "#eee",
    text: "{{ site.url }}{{ page.url }}"
    });
  
    })
</script>
